/*file: styles.css*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

html, body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #eee;
}

.main {
    height: 100vh;
    background: #6cd29f;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main h1 {
    font-size: 100px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    color: #000;
    /*-webkit-text-stroke: 4px black;*/
    z-index: 9999;
    font-family: "Roboto";
    font-weight: 400;
}

.main h5 {
    z-index: 9999;
    position: relative;
    top: 34%;
    font-family: "Roboto";
    font-size: 14px;
}

.nav {
    width: 100%;
    text-align: center;
    background: black;
    left: 0;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.bottom-nav {
    position: absolute;
    bottom:0;
}

.top-nav {
    position: fixed;
    top:0;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.nav ul li .nav-link {
    color: #ccc;
    text-decoration: none;
    padding: 20px;
}

.nav ul li .nav-link:hover {
    color: #eee;
    background: #333;  
}

.section-title {
    text-align: center;
    font-size: 45px;
    margin: 35px;
    font-weight: 300;
}

.flex-container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    padding-bottom: 400px;
}

.fullCard {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 33%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px;
    background-color: #fff;
}

.thumbnail-img {
    width: 100%;
}


.cardText {
    padding: 10px;
}

.container {
    width: 70%;
    margin: 50px auto;
    padding: 50px;
}

.container .box {
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 05px 10px -3px rgba(0, 0, 0, 0.1);
}


